body
{
  background: #FFEFD5;
}

* {box-sizing: border-box;}
.search-form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  background:#F5DEB3;
  border-radius: 20px;

}
.finders, button {
  border: none;
  outline: none;
  background: transparent;
}
.finders {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
.textBtn {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.textBtn:before {
  content: "😀";
  font-size: 25px;
}

.search-form:hover
{

  background: #f8dd84;
  border: #896b1f 1px solid;
}

.textBtn:hover:before
 {
  content: "😋";
  font-size: 30px;
}