body {
  background: #ffefd5;
}

// стилі форми**************************************
* {
  box-sizing: border-box;
}
.search-form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  background: #f5deb3;
  border-radius: 20px;
}
.finders,
button {
  border: none;
  outline: none;
  background: transparent;
}
.finders {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
.textBtn {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.textBtn:before {
  content: '😀';
  font-size: 25px;
}

.search-form:hover {
  background: #f8dd84;
  border: #896b1f 1px solid;
}

.textBtn:hover:before {
  content: '😋';
  font-size: 30px;
}
// кінець стилів форми

// *****************************************************галерейні стилі
.gallery {
  width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image {
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(152, 158, 159, 0.999);
}

// дів для описів
.info {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
// описи
.info-item {
  width: 60px;
  font-size: 10px;
  font-style: normal;
}

// обгортка форми
.slick {
  position: sticky;
  top: 0;
}

// *************************************лоадер

.loader {
  margin: auto;
  width: 100px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0px 35px 0 -5px #aaa, 0 -5px 0 0px #ddd, 0 -25px 0 -5px #fff,
    -25px -30px 0 0px #ddd, -25px 30px 0 0px #ddd, 25px -30px 0 0px #ddd,
    25px 30px 0 0px #ddd, 20px 10px 0 5px #ddd, 20px -10px 0 5px #ddd,
    -20px -10px 0 5px #ddd, -20px 10px 0 5px #ddd;
}
.loader:after,
.loader:before {
  content: '';
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  border: 4px dashed #fff;
  bottom: -4px;
  transform: rotate(0deg);
  box-sizing: border-box;
  animation: tape 4s linear infinite;
}
.loader:before {
  right: 0;
  box-shadow: 0 0 0 4px #fff, 0 0 0 34px #000;
}
.loader:after {
  left: 0;
  box-shadow: 0 0 0 4px #fff, 0 0 0 65px #000;
}

@keyframes tape {
  0% {
    transform: rotate(0deg) scale(0.4);
  }
  100% {
    transform: rotate(-360deg) scale(0.4);
  }
}

// npm start
